*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}


header{
    height: 100vh;
    background-image: url(../img/fun_1.png);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}
header .fundo{
    height: 100vh;
    background-image: linear-gradient(45deg, rgba(66, 21, 24, .9) 50%, rgba(66, 21, 24, .7) 50%);
    background-size: 300%;
    background-position: left;
    border-top: solid 1px transparent;
    animation-name: fundo;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function:ease-in-out;
}
@keyframes fundo {
    0%{background-position: 0% 0%;}
    25%{background-position: 50% 100%;}
    75%{background-position: 100% 0%;}
    100%{background-position: 0% 0%;}
}
header .fundo nav{
    max-width: 1024px;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    place-items: center;
    place-content: space-between;
    border-radius: 50px;
    box-shadow: 15px 15px 0px rgba(255, 255, 255, .1)
}
header .fundo nav .container-pedido{
    width: auto;
    display: flex;
}
header .fundo nav .container-pedido a{
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    color: rgba(66, 21, 24, 1);
    background-color: rgba(247, 145, 29, 1);
    border-radius: 50px 0px 0px 50px;
}
header .fundo nav .container-pedido a:hover{
    background-color: rgba(66, 21, 24, 1);
    color: rgba(247, 145, 29, 1);
    transition: background-color .3s;
}
header .fundo nav ul li{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: 10px 0px;
    letter-spacing: 2px;
}
header .fundo nav ul li a{
    text-decoration: none;
    color: rgba(66, 21, 24, 1);
    padding: 10px 15px;
}
header .fundo nav ul li a:hover{
    background-color: rgba(66, 21, 24, 1);
    color: rgba(255, 255, 255, 1);
    transition: background-color .3s;
}
header .fundo nav ul li #last-link{
    border-radius: 0px 50px 50px 0px;
}
header .fundo .container-logo{
    height: auto;
    display: flex;
    padding-top: 50px;
    place-content: center;
}
header .fundo .container-logo .div-logo{
    max-width: 200px;
}
header .fundo .container-logo .div-logo img{
    width: 100%;
}




header .fundo .div-descreve{
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    height: 160px;
    margin: auto;
    padding: 100px 0px 0px 0px;
}
header .fundo .div-descreve .produtos{
    flex-basis: 255px;
    flex-grow: none;
    flex-shrink: none;
}
header .fundo .div-descreve .produtos .prod-img{
    height: auto;
    display: flex;
    place-content: center;
}
header .fundo .div-descreve .produtos .prod-img img{
    width: 30%;
}
header .fundo .div-descreve .produtos .prod-descri{
    margin-top: 20px;
    padding: 0px 10px 0px 10px;
}
header .fundo .div-descreve .produtos .prod-descri p{
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
header .fundo .div-descreve .produtos .prod-descri a{
    display: inline-block;
    text-decoration: none;
    font-size: .8rem;
    color: rgba(66, 21, 24, 1);
    background-color: rgba(247, 145, 29, 1);
    padding: 5px 10px;
    margin: 20px 0px 0px 75px;
    border-radius: 5px;
}





#separador{
    height: 100px;
    background-color: rgba(66, 21, 24, 1);
}






#quem-somos{
    height: 100vh;
    background-image: url(../img/fun_1.png);
    background-size: cover;
    background-position: initial;
    background-attachment: fixed;
}
#quem-somos .fundo-color-s2{
    background-image: linear-gradient(90deg, rgba(247, 145, 29, 0) 20%, rgba(66, 21, 24, 0) 80%);
    height: 100vh;
    border-top: solid 1px transparent;
    display: flex;
    place-content: center;
    place-items: center;
}

#quem-somos .fundo-color-s2 #ctn-content #quem-somos-txt{
    max-width: 600px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 5px;
}

#quem-somos .fundo-color-s2 #ctn-content #quem-somos-txt h2{
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}
#quem-somos .fundo-color-s2 #ctn-content #quem-somos-txt p{
    font-size: .8rem;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: justify;
    color: rgba(0, 0, 0, 1);
}





#galeria{
    background-image: url(https://image.freepik.com/free-photo/gambas-al-ajillo-prawn-based-dish-close-up-photography_53876-104575.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
#galeria .fc-2{
    border-top: solid 1px transparent;
    background-color: rgba(247, 145, 29, .8);
    height: 100vh;
}
#galeria .fc-2 h1{
    text-align: center;
    margin: 40px 0px 0px 0px;
    font-size: 35px;
    font-weight: 200;
}
#galeria .fc-2 p{
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 40px;
}
#galeria .fc-2 #gal-container{
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
#galeria .fc-2 #gal-container .gal-content{
    flex-basis: 255px;
    flex-grow: none;
    flex-shrink: 1;
    padding: 10px;
}
#galeria .fc-2 #gal-container .gal-content:hover{
    transform: scale(1.5);
    padding: 0px;
    box-shadow: 5px 5px 10px rgba(66, 21, 24, 1);
    transition: transform .3s;
}



#galeria .fc-2 #gal-container .gal-content img{
    width: 100%;
}
#galeria .fc-2 #gal-container .gal-content p{
    text-align: center;
    background-color: rgba(66, 21, 24, 1);
    color: rgba(255, 255, 255, 1);
    padding: 8px 0px;
    margin: -4px 0px;
}





#localizacao{
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/769969/pexels-photo-769969.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#localizacao .fc-3{
    display: flex;
    place-content: center;
    place-items: center;
    background-color: rgba(241, 79, 30, .8);
    height: 100vh;

}
#localizacao #div-map h2{
    color: rgba(255, 255, 255, 1);
    margin: 0px 0px 40px 0px;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
}
#localizacao #div-map iframe{
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(66, 21, 24, .5);
}





footer{
    background-color: rgba(66, 21, 24, 1);
}
footer .footer-content{
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    place-items: center;
}
footer .footer-content div{
    width: 340px;
    padding: 30px;
}
footer .footer-content div h2{
    color: rgba(247, 145, 29, 1);
    margin-bottom: 15px;
    font-weight: 300;
    text-align: center;
    font-size: 1.2rem;
}
footer .footer-content div p{
    color: rgba(255, 255, 255, 1);
    font-weight: 200;
    text-align: center;
    font-size: 1rem;
}